h1 {
    display: flex;
    justify-content:center ;
}

.image {
    display: flex;
    justify-content: center;
}

.navbar {
  width:0;
  height: 100%;
  position: fixed;
  padding-top: 50px;
  z-index: 1;
  top:0;
  left:0;
  background-color: white;
  /* overflow-x: hidden; */
  transition:0.3s;
}

a {
  color:black;
  text-decoration: none;
}
a:hover {
  color: lightsalmon;
}