body {
  background-color: lightsalmon;
  margin: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
}

i {
  margin: 30px;
  font-size: 20px;
}
i:hover {
  cursor: pointer;
}